@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

/* Extra small devices (phones, 576px and down) */
.canvas-decal {
  border: solid 2px rgba(23, 16, 69,1);
  border-radius: 10px 0;
  margin: 5px 2px 0;
}

.canvas-container {
  margin: 0;
  width: 100%;
}

.canvas-container {
  @include aspect-ratio(16, 9)
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 768px) and (orientation: landscape) {
  .canvas-decal {
    border: none 0;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .canvas-container {
    height: 100%;
    width: 100%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .canvas-container {
    @include aspect-ratio(16, 9)
  }

  .canvas-decal {
    border: solid 5px rgba(23, 16, 69, 1);
    border-radius: 20px 0;
    box-shadow: 2px 2px 18px rgba(23, 16, 69, .75);
    margin: 5px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .canvas-decal {
    margin: 35px 10px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1054px) {
  .canvas-decal {
    margin: 35px auto;
    width: 1024px;
  }

  .canvas-container {
    width: 1024px;
  }
}


