* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  background: rgba( 42, 79,110,1);
  color: rgba(178,204,225,1);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div#globalContainer {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
}

div#globalContainer > div {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

h1 {
  margin: 1em auto;
  text-align: center;
}

button {
  background: rgba(  1, 10, 18,1);
  color: rgba( 91,126,155,1);
  border: solid 1px rgba( 91,126,155,1);
  padding: 1em 2em;
}

button:hover, button:focus {
  background: rgba( 11, 40, 64,1);
  color: rgba(178,204,225,1);
  border-color: rgba(178,204,225,1);
  box-shadow: rgba(0, 0, 0, .25) 0 5px 5px;
}

button:active {
  background: rgba( 11, 40, 64,1);
  color: rgba(178,204,225,1);
  border-color: rgba(178,204,225,1);
  box-shadow: rgba(0, 0, 0, .25) 0 1px 1px;
}

div#globalContainer > div#progressBar {
  height: 10px;
  bottom: 0;
  top: initial;
  display: block;
  background: darkblue;
  width: 0;
  z-index: 10;
}

div#gameScreen canvas {
  border: 0;
  background: black;
  display: block;
}

div#gameScreen button {
  z-index: 20;
  margin-top: 50px;
}

div#gameScreen div#debugInfo {
  border: solid 1px red;
  display: inline-block;
  text-align: left;
}

div#gameScreen div#debugInfo span {
  color: yellow;
  font-weight: bold;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
